.contactus-items {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 2rem;
}

.facebook-icon, .email-icon, .phone-icon{
    cursor: pointer;
    font-size: 50px;
}

.facebook-icon {
  color: rgb(130, 130, 239);
}

.email-icon {
  color: rgb(215, 151, 249);
}


.phone-icon{
    font-size: 42px;
    color: rgb(124, 115, 33);
}