.main-footer {
    color: white;
    background-color:rgb(181, 0, 75);
    padding-top: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }


  .container {
    columns: 2;
  }
  
  ul{ 
    list-style-type: none;
  }
  